<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Change Password </h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <app-error *ngIf="isError">{{ error_message }}</app-error>
  <form [formGroup]="changePasswordForm">
    <div class="form_group mb-3">
      <label for="currentPassword" class="form-label"
        >Current Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="currentPassword"
          placeholder="Enter current password"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="showCurrentPassword; else hideCurrentPassword"
          (click)="showCurrentPassword = !showCurrentPassword"
        ></i>
        <ng-template #hideCurrentPassword>
          <i
            class="fa fa-eye click"
            (click)="showCurrentPassword = !showCurrentPassword"
          ></i>
        </ng-template>
      </div>
    </div>
    <div class="form_group mb-3">
      <label for="newPassword" class="form-label"
        >New Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter new password"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="showPassword; else hidePassword"
          (click)="showPassword = !showPassword"
        ></i>
        <ng-template #hidePassword>
          <i
            class="fa fa-eye click"
            (click)="showPassword = !showPassword"
          ></i>
        </ng-template>
      </div>
    </div>
    <div class="form_group mb-3">
      <label for="confirmPassword" class="form-label"
        >Re-enter Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Re-enter new password"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="showConfirmPassword; else hideConfirmPassword"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></i>
        <ng-template #hideConfirmPassword>
          <i
            class="fa fa-eye click"
            (click)="showConfirmPassword = !showConfirmPassword"
          ></i>
        </ng-template>
      </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="false"
    class="btn btn-outline-green btn-md me-4 px-4 d-none"
    #close
  >
    No, cancel
  </button>
  <button [mat-dialog-close]="true" class="btn btn-green btn-md px-4">
      <app-loading-button
        [text]="'Continue'"
        [condition]="isLoading"
      ></app-loading-button>
  </button>
</mat-dialog-actions>