// colors and fonts go here.

$color-white: #ffffff;

// orange
$color-orange: #ff5c00;
$color-orange-1: #ff9900;
$color-orange-2: #ff0000;

// black
$color-black: #000000;

//Other fidelity colors will be specified here

// fonts

//Font specified by Emmanuel
$docstream_font: "";
