<div class="wrapper">
  <div class="wrapper__logo">
    <embed
      src="assets/images/logo.svg"
      alt="Kazar logo"
    />
  </div>
  <div class="wrapper__header">
    <h1>Welcome Philip</h1>
    <p>Let’s pick up where we left off</p>
  </div>
  <div class="wrapper__form">
    <div [formGroup]="loginForm">
      <app-error [error_message]="error_message"></app-error>
      <div class="form_group mb-5">
        <label for="email" class="form-label"
          >Email
          <!-- <span>● </span> -->
        </label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter email address"
          (keyup)="checkForKeyEnter($event)"
          formControlName="email"
          autocomplete="email"
          [ngClass]="{
            'is-invalid':
              (loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched) ||
              (loginForm.get('email')?.hasError('required') &&
                loginFormSubmitted) ||
              (loginForm.get('email')?.hasError('email') && loginFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            loginFormSubmitted &&
            !loginForm.get('email')?.hasError('email') &&
            loginFormSubmitted
          "
        >
          Required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('email')?.hasError('email') &&
            loginFormSubmitted &&
            !loginForm.get('email')?.hasError('required') &&
            loginFormSubmitted
          "
        >
          Enter a valid email
        </div>
      </div>
      <div class="form_group position-relative mb-3">
        <label for="password" class="form-label"
          >Password
          <!-- <span>● </span> -->
        </label>
          <input
            class="form-control pr-2"
            [type]="showPassword ? 'text' : 'password'"
            placeholder=""
            formControlName="password"
            (keyup)="checkForKeyEnter($event)"
            autocomplete="current-password"
            [ngClass]="{
              'is-invalid':
                (loginForm.get('password')?.errors &&
                  loginForm.get('password')?.touched) ||
                (loginForm.get('password')?.hasError('required') &&
                  loginFormSubmitted)
            }"
          />
          <img
            (click)="showPassword = !showPassword"
            src="assets/icons/eye-icon-{{ showPassword ? 'open' : 'close' }}.svg"
            alt="eye close icon"
            class="svg_eye"
          />
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginFormSubmitted
          "
        >
          Required
        </div>
      </div>
      <button class="btn wrapper__login_btn" (click)="register()">
        <app-loading-button
          [text]="'Register'"
          [condition]="isLoggingIn"
        ></app-loading-button>
      </button>
      <div class="sign-in-alt">
        <span>or sign up with</span>
      </div>
      <div class="d-flex justify-content-between my-5">
        <button class="btn btn-light btn-lg">
          <embed
            src="assets/icons/google.svg"
            alt="google logo"
          />
          Google
        </button>
        <button class="btn btn-light btn-lg">
          <embed
            src="assets/icons/apple.svg"
            alt="apple btn-light logo"
          />
          Apple
        </button>
        <button class="btn btn-light btn-lg">
          <embed
            src="assets/icons/facebook.svg"
            alt="facebook logo"
          />
          Facebook
        </button>
      </div>
      <div class="wrapper__sign_up text-center mt-4">
        <p>
          Already have an account?
          <a routerLink="/authentication/login"><span>Sign In</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
