<section>
  <div class="login_wrapper">
    <div class="login_wrapper-card">
      <div class="login_wrapper-logo">
        <embed
        src="assets/images/logo.svg"
          alt="GOS HRM Logo"
        />
      </div>
      <div class="login_wrapper-form">
        <div class="row" [formGroup]="registerForm">
          <app-error [error_message]="error_message"></app-error>
          <div class="col-md-6">
            <div class="form_group mb-5">
              <label for="fullName" class="form-label"
                >Full Name
                <span>● </span>
              </label>
              <input
                type="text"
                id="fullName"
                class="form-control"
                placeholder="Enter Full Name"
                (keyup)="checkForKeyEnter($event)"
                formControlName="fullName"
                [ngClass]="{
                  'is-invalid':
                    (registerForm.get('fullName')?.errors &&
                      registerForm.get('fullName')?.touched) ||
                    (registerForm.get('fullName')?.hasError('required') &&
                      registerFormSubmitted) ||
                    (registerForm.get('fullName')?.hasError('fullName') && registerFormSubmitted)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('fullName')?.hasError('required') &&
                  registerFormSubmitted &&
                  !registerForm.get('fullName')?.hasError('fullName') &&
                  registerFormSubmitted
                "
              >
                Required
              </div>
              <div class="text-danger"
                    *ngIf="registerForm.get('fullName')?.invalid &&
                    registerForm.get('fullName')?.value != ''
                  ">
                    <span>Full must not container any special char and maximum of 50 chars</span>
                  </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form_group mb-5">
              <label for="userName" class="form-label"
                >Username
                <span>● </span>
              </label>
              <input
                type="text"
                id="userName"
                class="form-control"
                placeholder="Enter Username"
                (keyup)="checkForKeyEnter($event)"
                formControlName="userName"
                [ngClass]="{
                  'is-invalid':
                    (registerForm.get('userName')?.errors &&
                      registerForm.get('userName')?.touched) ||
                    (registerForm.get('userName')?.hasError('required') &&
                      registerFormSubmitted) ||
                    (registerForm.get('userName')?.hasError('userName') && registerFormSubmitted)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('userName')?.hasError('required') &&
                  registerFormSubmitted &&
                  !registerForm.get('userName')?.hasError('userName') &&
                  registerFormSubmitted
                "
              >
                Required
              </div>
            </div>
          </div>
         <div class="col-md-6">
          <div class="form_group mb-5">
            <label for="email" class="form-label"
              >Email
              <!-- <span>● </span> -->
            </label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Enter email address"
              (keyup)="checkForKeyEnter($event)"
              formControlName="email"
              autocomplete="email"
              [ngClass]="{
                'is-invalid':
                  (registerForm.get('email')?.errors &&
                    registerForm.get('email')?.touched) ||
                  (registerForm.get('email')?.hasError('required') &&
                    registerFormSubmitted) ||
                  (registerForm.get('email')?.hasError('email') && registerFormSubmitted)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                registerForm.get('email')?.hasError('required') &&
                registerFormSubmitted &&
                !registerForm.get('email')?.hasError('email') &&
                registerFormSubmitted
              "
            >
              Required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                registerForm.get('email')?.hasError('email') &&
                registerFormSubmitted &&
                !registerForm.get('email')?.hasError('required') &&
                registerFormSubmitted
              "
            >
              Enter a valid email
            </div>
          </div>
         </div>
         <div class="col-md-6">
          <div class="form_group mb-5">
            <label for="email" class="form-label"
              >Phone Number
              <!-- <span>● </span> -->
            </label>
            <input
              type="tel"
              id="tel"
              class="form-control"
              placeholder="Enter Phone Number"
              (keyup)="checkForKeyEnter($event)"
              formControlName="phoneNumber"
              [ngClass]="{
                'is-invalid':
                  (registerForm.get('phoneNumber')?.errors &&
                    registerForm.get('phoneNumber')?.touched) ||
                  (registerForm.get('phoneNumber')?.hasError('required') &&
                    registerFormSubmitted) ||
                  (registerForm.get('phoneNumber')?.hasError('phoneNumber') && registerFormSubmitted)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                registerForm.get('phoneNumber')?.hasError('required') &&
                registerFormSubmitted &&
                !registerForm.get('phoneNumber')?.hasError('phoneNumber') &&
                registerFormSubmitted
              "
            >
              Required
            </div>
          </div>
         </div>
          <div class="col-md-6">
            <div class="form_group position-relative mb-3">
              <label for="password" class="form-label"
                >Password
                <span>● </span>
              </label>
                <input
                  class="form-control pr-2"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="*********"
                  formControlName="password"
                  (keyup)="checkForKeyEnter($event)"
                  autocomplete="current-password"
                  [ngClass]="{
                    'is-invalid':
                      (registerForm.get('password')?.errors &&
                        registerForm.get('password')?.touched) ||
                      (registerForm.get('password')?.hasError('required') &&
                        registerFormSubmitted)
                  }"
                />
                <img
                  (click)="showPassword = !showPassword"
                  src="assets/icons/eye-icon-{{ showPassword ? 'open' : 'close' }}.svg"
                  alt="eye close icon"
                  class="svg_eye"
                />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('password')?.hasError('required') &&
                  registerFormSubmitted
                "
              >
                Required
              </div>
              <div class="text-danger"
                    *ngIf="registerForm.get('password')?.invalid &&
                    registerForm.get('password')?.value != ''
              ">
                <span>Password must container at least 8 character with one uppercase, one lowercase and one number</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form_group position-relative mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password
                <span>● </span>
              </label>
              <input
                  class="form-control pr-2"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  placeholder="Re-enter new password"
                  [ngClass]="{
                    'is-invalid':
                    registerForm.errors &&
                    registerForm.get('confirmPassword')?.touched
                  }"
              />
              <img
                  (click)="showConfirmPassword = !showConfirmPassword"
                  src="assets/icons/eye-icon-{{ showConfirmPassword ? 'open' : 'close' }}.svg"
                  alt="eye close icon"
                  class="svg_eye"
              />
              <div class="text-danger"
                  *ngIf="registerForm.get('Password')?.value !== registerForm.get('confirmPassword')?.value"
                >
                  Passwords must match
                </div>
            </div>
          </div>
          <button class="btn wrapper__login_btn" (click)="register()">
            Rehister
          </button>

          <div class="login_wrapper__sign_up text-center mt-4">
            <p>
              Already have an account?
              <a routerLink="/authentication/login"><span>Login</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
