// 
@import "partials/abstract/variables.scss";

// .tip {
//     position: absolute;
//     right: 4rem;
//     background-origin: 3rem;
// }


.tip-bag {
  font-size: 1.35rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  .toggle-icon {
    transition: all ease-in-out 0.3s;
    &.down {
      transform: rotate(180deg);
    }
  }
  .tip {
      border: 2px solid red;
    top: -18rem;
    position: absolute;
    right: 4rem;
    background-origin: 3rem;
    background: rgba($white-100, 1);
    border-radius: 0.8rem;
    color: $text-body;
    font-size: 1.4rem;
    padding: 2rem 4.3rem 2.1rem 2rem;
    line-height: 2.1rem;
    transition: all ease-in-out 0.3s;
    width: 500%;
    position: absolute;
    z-index: 2000;
    &.close {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
}
