<div class="wrapper">
  <div class="wrapper__logo">
    <embed
      src="assets/images/logo.svg"
      alt="Kazar logo"
    />
  </div>
  <div class="wrapper__header">
    <h1>Forgot Password?</h1>
    <p>
      Enter the email you used to register to get a password reset link.
    </p>
  </div>
  <div class="wrapper__form">
    <app-error [error_message]="error_message"></app-error>
    <form [formGroup]="forgotPasswordForm">
      <div class="form_group mb-5">
        <input
          type="text"
          id="email"
          class="form-control"
          placeholder="Enter Verification Code"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched) ||
              (forgotPasswordForm.get('email')?.hasError('required') &&
              forgotPasswordFormSubmitted) ||
              (forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
          forgotPasswordForm.get('email')?.hasError('required') &&
          forgotPasswordFormSubmitted &&
            !forgotPasswordForm.get('email')?.hasError('email') &&
            forgotPasswordFormSubmitted
          "
        >
          Required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
          forgotPasswordForm.get('email')?.hasError('email') &&
          forgotPasswordFormSubmitted &&
            !forgotPasswordForm.get('email')?.hasError('required') &&
            forgotPasswordFormSubmitted
          "
        >
          Enter a valid email
        </div>
      </div>
      <div class="text-center">
        <h3 class="timer py-3" *ngIf="counter > 0">{{ counter | formatTime }}</h3>
        <p 
          class="timer click py-4" 
          *ngIf="counter <= 0"
          (click)="submit()"
        >  
          Resend Code
          <i *ngIf="sending" class="fa fa-spin fa-spinner"></i>
       </p>
      </div>
      <button class="btn wrapper__login_btn" (click)="submit()">
        <app-loading-button
          [text]="'Send Link'"
          [condition]="isLoggingIn"
        ></app-loading-button>
      </button>
      <div class="wrapper__sign_up text-center mt-4">
        <p>
          I remember my password.
          <a routerLink="/authentication/login"><span>Sign In</span></a>
        </p>
      </div>
    </form>
  </div>
</div>
