<div class="wrapper">
  <app-sidebar (showMinimized)="showMinimizedMenu($event)"></app-sidebar>
  <div class="wrapper__layout" [ngClass]="{ showMinimized: showMinimized }">
    <app-navbar></app-navbar>
    <div class="container my-5" style="position: relative">
      <router-outlet>
        <div
          class="preloader d-flex justify-content-center align-items-center flex-column"
          *ngIf="routeLoading"
        >
          <div class="logo flash infinite animated">
            <img src="assets/images/new_logo.png" alt="logo" />
          </div>
          <div class="progress-cont mt-3">
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </router-outlet>
    </div>
  </div>
</div>
<app-help-center></app-help-center>
