<div class="wrapper">
    <div class="wrapper__layout">
      <div class="banner">
        <app-header></app-header>
        <div class="container m-auto">
          <div class="banner-content">
            <div class="banner-content-header">
              <h2>Best property deals</h2>
              <p>Best deal anywhere in the Uk</p>
            </div>
          </div>
          <div class="search_wrapper">
            <div class="">
              <ul class="nav nav-pills vertical-nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item border-radius p-0" role="presentation">
                  <a
                    class="nav-link"
                    [ngClass]="{ active: currentTabIndex === 1}"
                    id="departmental-tab"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="departmental"
                    aria-selected="true"
                    >Buy</a
                  >
                </li>
                <li class="nav-item p-0" role="presentation">
                  <a
                    class="nav-link"
                    [ngClass]="{ active: currentTabIndex === 2}"
                    id="shared-tab"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="shared"
                    aria-selected="false"
                    >Sell</a
                  >
                </li>
                <li class="nav-item p-0" role="presentation">
                  <a
                    class="nav-link"
                    [ngClass]="{ active: currentTabIndex === 3}"
                    id="shared-tab"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-controls="shared"
                    aria-selected="false"
                    >Rent</a
                  >
                </li>
              </ul>
            </div>
      
            <div class="tab-content bg-white px-5 pt-5 pb-2" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="regions"
                role="tabpanel"
                aria-labelledby="regions-tab"
              >
                <div>
                  <form>
                    <div class="row">
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6 col-lg-3">
                            <div class="form_group mb-4">
                              <label for="" class="form-label">City/Street</label>
                              <div class="search-filter-input">
                                <input type="text" class="form-control ps-0" placeholder="Enter Locatiom">
                                <span class="_icon">
                                  <i class="fa fa-location-crosshairs"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-3">
                            <div class="form_group mb-4">
                              <label for="" class="form-label">Property Type</label>
                              <div class="search-filter-input">
                                <input type="text" class="form-control ps-0" placeholder="Select type">
                                <span class="_icon">
                                  <i class="fa fa-arrow-up-arrow-down"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-3">
                            <div class="form_group mb-4">
                              <label for="" class="form-label">Price Range</label>
                              <div class="search-filter-input">
                                <input type="text" class="form-control ps-0" placeholder="Min Price-Max Price">
                                <span class="_icon">
                                  <i class="fa fa-arrow-up-arrow-down"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-3">
                            <div class="form_group mb-4">
                              <label for="" class="form-label">Property Type</label>
                              <div class="search-filter-input">
                                <input type="text" class="form-control" placeholder="Select type">
                                <span class="_icon">
                                  <i class="fab fa-plus"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-green btn-lg">
                          Search Property
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container category my-5">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of pptyCategories">
            <app-category-card [data]="item"></app-category-card>
          </div>
        </div>
      </div>

      <div class="advert">
        <div class="container">
          <div class="row">
            <div class="col-md-6" *ngFor="let item of [1,2]">
              <app-advert-card (click)="goTo(item)"></app-advert-card>
            </div>
            <div class="d-flex justify-content-end my-5">
              <button class="btn btn-green btn-lg">
                See All Property
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="discovery my-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="card sub-card mb-5">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-green btn-lg">
                      Explore Now <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card sub-card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-green btn-lg">
                      Explore Now <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card main-card">
                <div class="card-body">
                  <h5 class="card-title">Best Deals in the City</h5>
                  <p class="card-text">London, Manchester, Aberdeen, Cardiff...</p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-green">
                      Explore Now <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card sub-card mb-5">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-green btn-lg">
                      Explore Now <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card sub-card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-green btn-lg">
                      Explore Now <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="360view">
        <div class="container">
          <ngx-view360 
            imageSrc="../../../../assets/images/avatar.png"
            [displayMode]="'stereoTopBottom'"
          ></ngx-view360>
        </div>
      </div>

      <div class="faq">
        <div class="container">
          <div class="header">
            <h2>Frequently Asked Questions</h2>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-9">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <span class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Please tell me about the buying procedures?
                    </span>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repellendus harum, sed officiis sint ratione recusandae? Nam repellendus illum obcaecati ea ad inventore veritatis nobis! Voluptatem illum ut enim reprehenderit.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How long does it take to buy a home?
                    </span>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem fuga sed quibusdam iusto incidunt aliquam, quis tenetur natus provident doloribus a, autem praesentium ratione accusamus architecto ab maxime nobis officia.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How much down payment should I give first?
                    </span>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab facilis vero doloremque minima praesentium repudiandae? Error veniam cupiditate, fugiat, ea repellendus nesciunt laboriosam voluptas non sequi ducimus molestias maiores rerum.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Any hidden agenda?
                    </span>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab facilis vero doloremque minima praesentium repudiandae? Error veniam cupiditate, fugiat, ea repellendus nesciunt laboriosam voluptas non sequi ducimus molestias maiores rerum.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="newsletter__wrapper">
        <div class="container">
          <div class="newsletter__wrapper-content">
            <div class="row d-flex justify-content-center">
              <div class="col-md-6">
                <h2>Join our newsletter to know about the best deals</h2>
                <p>
                  With our newsletter, you will receive best property deals and track properties you are 
                  interested in and use our price estimates to help you decide when to move.
                </p>
                <div class="form_wrapper bg-white py-4 px-5 my-4">
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="btn btn-green btn-md">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <app-footer></app-footer>
    </div>
</div>
  