<ng-container
>
  <app-searchbar
    [btnName]="btnName"
    [btnIcon]="'edit'"
    [canFilter]="true"
    (btnAction)="gotToNewApplication()"
  ></app-searchbar>
  <div>
    <div class="archive-rentention-wrapper m-0">
      <div class="archive-retention-table table-responsive bg-white">
        <table class="table caption-top text-nowrap">
          <ng-container>
            <thead>
              <tr>
                <th>Applicant's Name</th>
                <th>Beneficiary's Name</th>
                <th>LC Value in figures</th>
                <th>LC Expiry Date</th>
                <th>Date Submitted</th>
                <th>Action</th>
              </tr>
            </thead>
          </ng-container>
          <tbody>
            <ng-container *ngIf="isFetchingApplications">
              <tr *ngFor="let dummy of [1, 2, 3, 4, 5]">
                <td *ngFor="let item of [1, 2, 3, 4, 5, 6]">
                  <app-docstream-skeleton-loader
                    width="10rem"
                    height="2rem"
                  ></app-docstream-skeleton-loader>
                </td></tr
            ></ng-container>
            <ng-container>
              <tr *ngFor="let user of [1, 2, 3, 4, 5, 6]">
                <td>Table cell Applicant's name</td>
                <td>Table cell Beneficiary's Name</td>
                <td>Table cell LC Value</td>
                <td>Table cell Date</td>
                <td>Table cell submitted</td>
                <td>
                  <span
                    class="text-light-blue click"
                    routerLink="/application/applications"
                  >
                    <img src="assets/icons/eye.svg" class="me-2" />
                    View details
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
