@import "partials/abstract/variables";
@import "partials/abstract/mixins.scss";

.card {
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    .img-wrapper {
        position: relative;
        img {
            width: 100%;
            border-radius: 1rem;
        }
        .top-left, .top-right {
            position: absolute;
            top: 1.5rem;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
        }
        .top-left {
            left: 2rem;
            background: #F14968;
            color: #fff;
        }
        .top-right {
            right: 2rem;
            background: $white-100;
            .fa-heart-o {
                color: $green-400;
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
        }
    }
    &-body {
        padding: 1.5rem 0;
        .card-text {
           font-size: 1.5rem;
        }
    }
    &:hover {
        border: .2rem solid $green-400;
    }
    .btn-outline-success {
        color: $success;
        border: .1rem solid $success;
        &:hover {
            color: $success;
            border: .1rem solid $success;
            background: transparent;
        }
    }
}