<div class="card animate__animated animate__slideInUp">
    <div class="img-wrapper">
        <img src="assets/images/banner-bg.jfif" class="card-img-top" alt="...">
        <div class="top-left">
            image
        </div>
        <div class="top-right">
            <i class="fa fa-heart-o"></i>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="card-text">Property ID: 2215590</p>
            <div>
                <button class="btn btn-outline-secondary btn-sm me-3">
                   <i class="fa fa-star me-2"></i>  Featured
                </button>
                <button class="btn btn-outline-success btn-sm">
                    For sale
                </button>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-5">
                <span>Store in Fenland</span>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <span>₤34,561.24</span>
            </div>
        </div>
    </div>
</div>