<div class="wrapper">
  <div class="wrapper__logo">
    <embed
      src="assets/images/docstream_logo.svg"
      alt="Docstream Logo"
    />
  </div>
  <div class="wrapper__header">
    <h1>Welcome back!</h1>
    <p>Enter your credentials below to Login</p>
  </div>
  <div class="wrapper__form">
    <div>
      <div class="form_group mb-5">
        <label for="email" class="form-label"
          >Email
          <span>● </span>
        </label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter email address"
        />
      </div>
      <div class="form_group mb-3">
        <label for="password" class="form-label"
          >Password
          <span>● </span>
        </label>
        <input
          type="password"
          autocomplete="current-password"
          class="form-control"
          placeholder="Enter password"
          id="password"
        />
      </div>
      <div class="wrapper__forgot">
        <a routerLink="/authentication/forgot-password"> Forgot Password?</a>
      </div>
      <button class="btn wrapper__login_btn" (click)="login()">
        <app-loading-button
          [text]="'Login'"
          [condition]="isLoggingIn"
        ></app-loading-button>
      </button>
      <div class="wrapper__sign_up mt-4">
        <a routerLink="/authentication/register"> Dont have an account? <span>Sign Up</span></a>
      </div>
    </div>
  </div>
</div>
