<section>
  <div class="login_wrapper">
    <div class="login_wrapper-card">
      <div class="login_wrapper-logo">
        <embed
        src="assets/images/logo.svg"
          alt="GOS HRM Logo"
        />
      </div>
      <div class="login_wrapper-form">
        <div [formGroup]="loginForm">
          <app-error [error_message]="error_message"></app-error>
          <div class="form_group mb-5">
            <label for="email" class="form-label"
              >Username
              <span>● </span>
            </label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Enter Username"
              (keyup)="checkForKeyEnter($event)"
              formControlName="userName"
              [ngClass]="{
                'is-invalid':
                  (loginForm.get('userName')?.errors &&
                    loginForm.get('userName')?.touched) ||
                  (loginForm.get('userName')?.hasError('required') &&
                    loginFormSubmitted) ||
                  (loginForm.get('userName')?.hasError('userName') && loginFormSubmitted)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                loginForm.get('userName')?.hasError('required') &&
                loginFormSubmitted &&
                !loginForm.get('userName')?.hasError('userName') &&
                loginFormSubmitted
              "
            >
              Required
            </div>
          </div>
          <div class="form_group position-relative mb-3">
            <label for="password" class="form-label"
              >Password
              <span>● </span>
            </label>
            <input
                class="form-control pr-2"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="*********"
                formControlName="password"
                (keyup)="checkForKeyEnter($event)"
                [ngClass]="{
                  'is-invalid':
                    (loginForm.get('password')?.errors &&
                      loginForm.get('password')?.touched) ||
                    (loginForm.get('password')?.hasError('required') &&
                      loginFormSubmitted)
                }"
            />
            <img
                (click)="showPassword = !showPassword"
                src="assets/icons/eye-icon-{{ showPassword ? 'open' : 'close' }}.svg"
                alt="eye close icon"
                class="svg_eye"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                loginForm.get('password')?.hasError('required') &&
                loginFormSubmitted
              "
            >
              Required
            </div>
          </div>
          <div class="login_wrapper__forgot">
            <a routerLink="../forgot-password"> Forgot Password?</a>
          </div>
          <button class="btn wrapper__login_btn" (click)="login()">
           Login
          </button>
          <div class="login_wrapper__sign_up text-center mt-4">
            <p>
              Don't have an account?
              <a routerLink="/authentication/register"><span>Register</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
