<section>
  <div class="login_wrapper">
    <div class="login_wrapper-card">
      <div class="login_wrapper-logo">
        <embed
        src="assets/images/logo.svg"
          alt="GOS HRM Logo"
        />
      </div>
      <div class="login_wrapper__header">
        <h1>Reset Password</h1>
        <p>Create a new secured password you can easily remember.</p>
      </div>
      <div class="login_wrapper-form">
        <app-error [error_message]="error_message"></app-error>
        <form [formGroup]="resetPasswordForm">
            <div class="form_group position-relative mb-5">
              <label for="password" class="form-label"
                >Password
                <!-- <span>● </span> -->
              </label>
              <input
                  class="form-control pr-2"
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="Password"
                  placeholder="Enter new password"
                  [ngClass]="{
                    'is-invalid':
                      (resetPasswordForm.get('Password')?.errors &&
                      resetPasswordForm.get('Password')?.touched) ||
                      (resetPasswordForm.get('Password')?.hasError('required') &&
                      passwordFormSubmitted) ||
                      (resetPasswordForm.get('Password')?.hasError('Password') && passwordFormSubmitted)
                  }"
              />
              <img
                  (click)="showPassword = !showPassword"
                  src="assets/icons/eye-icon-{{ showPassword ? 'open' : 'close' }}.svg"
                  alt="eye close icon"
                  class="svg_eye"
              />
              <div class="text-danger"
                  *ngIf="resetPasswordForm.get('Password')?.invalid &&
                  resetPasswordForm.get('Password')?.value != ''
                ">
                  <span>Password must container at least 8 character with one uppercase, one lowercase and one number</span>
                </div>
            </div>
            <div class="form_group position-relative mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm Password
                <!-- <span>● </span> -->
              </label>
              <input
                  class="form-control pr-2"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  placeholder="Re-enter new password"
                  [ngClass]="{
                    'is-invalid':
                    resetPasswordForm.errors &&
                    resetPasswordForm.get('confirmPassword')?.touched
                  }"
              />
              <img
                  (click)="showConfirmPassword = !showConfirmPassword"
                  src="assets/icons/eye-icon-{{ showConfirmPassword ? 'open' : 'close' }}.svg"
                  alt="eye close icon"
                  class="svg_eye"
              />
              <div class="text-danger"
                  *ngIf="resetPasswordForm.get('Password')?.value !== resetPasswordForm.get('confirmPassword')?.value"
                >
                  Passwords must match
                </div>
            </div>
            <button class="btn wrapper__login_btn" (click)="submit()">
              <app-loading-button
                [text]="'Reset Password'"
                [condition]="isLoading"
              ></app-loading-button>
            </button>
        </form>
      </div>
    </div>
  </div>

</section>
