@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";

$side_padding: 12.4rem 20rem 12.4rem 12.2rem;
$mobile_side_padding: 3rem;

.wrapper {
  height: 100%;
  // padding: $side_padding;
  &__logo {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: .1rem solid rgba($grey-color, 0.1);
  }

  &__header {
    h1 {
      font-family: $docstream_font_bold !important;
      font-size: 2rem;
      line-height: 2.4rem;
      font-weight: 900;
    }
    p {
      font-size: 1.4rem;
      line-height: 150%;
      font-weight: 400;
      color: $blue-700;
      margin-bottom: 3.6rem;
    }
  }
  .position-relative {
    .invalid-feedback,
     .fa {
       position: absolute;
       font-size: 1.5rem;
       top: 1.8rem;
       right: 1.5rem;
     }
   } 
  &__login_btn {
    margin-top: 3rem;
  }
}

@include maxSize($canvas: M) {
  .wrapper {
    padding: $mobile_side_padding;
  }
}