@import "partials/abstract/variables";
@import "partials/abstract/mixins";

.wrapper {
    padding: 5rem 3rem;
    .banner {
        padding: 1.5rem 1.5rem 10rem 1.5rem;
        h2 {
            font-size: 5rem;
            color: $green-400;
            padding: 1.5rem;
            span {
                color: $green-700;
            }
        }
        p {
            width: 30%;
            margin: 0 auto;
            font-size: 2.2rem;
        }
    }
    .card {
        // border: none !important;
        min-height: 15rem;
        margin-bottom: 3rem;
        img {
            width: 20%;
            margin: 2rem auto 1rem auto;
        }
        span {
            color: $green-400;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    .action-btn {
        margin: 5rem 0 0 0;
    }
    .btn-outline-green {
        border: none !important;
    }
}


@include maxSize($canvas: M) {
    .wrapper {
        padding: 5rem 3rem;
        .banner {
            padding: 1rem 1rem 5rem 1rem;
            h2 {
                font-size: 2.4rem;
            }
            p {
                width: 100%;
                font-size: 1.3rem;
            }
        }
    }
}