<nav class="navbar navbar-expand-lg navbar-light bg-default">
    <div class="container d-sm-block d-lg-none">
      <a class="navbar-brand" href="#">
        <img src="assets/images/fidelity.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a 
              class="nav-link"  
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/properties"
            >Buy</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink=""
            >Sell</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink=""
            >Rent</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink=""
            >How it works</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"  
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="properties"
            >Agent</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink=""
            >Advertise</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink=""
            >Help</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/authentication/register"
            >Sign In</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container d-flex justify-content-between d-none d-lg-block">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a 
                class="nav-link"  
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/properties"
              >Buy</a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink=""
              >Sell</a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink=""
              >Rent</a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink=""
              >How it works</a>
            </li>
          </ul>
          <a class="navbar-brand" href="#">
              <img src="assets/images/fidelity.svg" alt="">
          </a>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a 
                    class="nav-link"  
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="properties"
                  >Agent</a>
              </li>
              <li class="nav-item">
                  <a 
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink=""
                  >Advertise</a>
              </li>
              <li class="nav-item">
                  <a 
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink=""
                  >Help</a>
              </li>
              <li class="nav-item">
                  <a 
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="/authentication/register"
                  >Sign In</a>
              </li>
          </ul>
        </div>
    </div>
</nav>

