<div class="dashboard-wrapper m-0">
  <div class="container">
    <section class="dashboard-content mt-5">
      <section class="row my-5">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <app-card
            [name]="'Untreated Documents'"
            [dayCount]="'0 Today'"
            [count]="4"
            color="info"
            [loading]="false"
            [route]="'documents'"
          ></app-card>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <app-card
            [name]="'Pending Documents'"
            [dayCount]="'0 Today'"
            [count]="10"
            color="warning"
            [loading]="false"
            [route]="'documents'"
          ></app-card>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <app-card
            [name]="'Uploaded Documents'"
            [dayCount]="'0 Today'"
            [count]="10"
            color="success"
            [loading]="false"
            [route]="'documents'"
          ></app-card>
        </div>
      </section>

      <section class="my-4">
        <app-searchbar
          [canFilter]="true"
          (filterAction)="filterAction()"
          (searchQuery)="searchQueryAction($event)"
          btnName="Upload"
          btnIcon="upload"
          (btnAction)="openUploadDialog()"
        ></app-searchbar>
      </section>

      <section class="table-responsive my-5 pt-5">
        <table class="table caption-top text-nowrap">
          <ng-container>
            <caption>
              Documents
            </caption>
            <thead>
              <tr>
                <th>Refrence No.</th>
                <th>Document Type</th>
                <th>Subject</th>
                <th>Date submitted</th>
                <th>Action</th>
              </tr>
            </thead>
          </ng-container>
          <tbody>
            <ng-container *ngIf="documentLoading">
              <tr *ngFor="let dummy of [1, 2, 3, 4, 5]">
                <td *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
                  <app-docstream-skeleton-loader
                    width="10rem"
                    height="2rem"
                  ></app-docstream-skeleton-loader>
                </td></tr
            ></ng-container>
            <ng-container>
              <tr *ngFor="let doc of filterableData">
                <td>{{ doc.correspondenceNo }}</td>
                <td>{{ doc.documentType }} type</td>
                <td>{{ doc.subject }}</td>
                <td>{{ doc.createdAt }}</td>
                <td>
                  <span
                    class="text-light-blue click"
                    routerLink="/documents/status/{{ doc.fileSubmissionId }}"
                  >
                    <img src="assets/icons/eye.svg" class="me-2" />
                    View details
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </section>
    </section>
  </div>
</div>
