@import "partials/abstract/variables";
@import "partials/abstract/mixins.scss";

nav {
  min-height: 6.4rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 1rem 3rem;
  background: $black-100;

}
