@import "partials/abstract/variables";
@import "partials/abstract/mixins";

$side_bar_width: 59rem;
$side_padding: 12.4rem 26rem 12.4rem 14.2rem;
$mobile_side_padding: 3rem;

.wrapper {
  height: 100vh;
  width: 100vw;

  &__side {
    width: $side_bar_width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__layout {
    position: absolute;
    width: calc(100% - #{$side_bar_width});
    right: 0;

    &--content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: $side_padding;
      overflow-y: auto;
    }
  }
}
@include screenSize(S) {
  .wrapper {
    &__side {
      width: 0;
      display: none;
    }
    &__layout {
      width: 100%;
      &--content {
        padding: $mobile_side_padding;
      }
    }
  }
}
