@import "partials/abstract/variables.scss";

footer {
    .links {
        padding: 2.5rem 0;
        border-bottom: .2rem solid $black-100;
        h6 {
            font-size: 1.4rem;
        }
        p > a {
            font-size: 1.2rem;
            text-decoration: none !important;
        }
        .text-brown {
            color: $green-400;
        }
    }
    .fab, .fa {
        font-size: 2.35rem;
        color: $black-100;
    }
    .fa-phone {
        transform: rotate(90deg);
    }
    .company-address {
        span {
            font-size: 1.3rem;
            .fas {
                font-size: 1.5rem;
            }
        }
        .copy-right {
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    .terms {
        font-size: 1.15rem;
        text-align: justify;
    }
}