<div
  class="card d-flex justify-content-between px-3 py-4"
  routerLink="../{{ route }}"
  *ngIf="!loading && count"
>
  <div class="">
    <h3 class="min-card d-inline-block p-4">{{ count }}</h3>
    <p class="d-inline-block px-3">{{ name }}</p>
  </div>
  <div class="">
    <img class="px-4 py-3" src="assets/icons/arrow-right.svg" alt="" />
  </div>
</div>

<div class="card d-flex justify-content-between px-3 py-4" *ngIf="loading">
  <div class="">
    <h3 class="min-card d-inline-block p-4">
      <app-docstream-skeleton-loader
        height="2rem"
        margin_bottom="0rem"
      ></app-docstream-skeleton-loader>
    </h3>
    <p class="d-inline-block card-text px-3">{{ name }}</p>
  </div>
  <div class="">
    <img class="px-4 py-3" src="assets/icons/arrow-right.svg" alt="" />
  </div>
</div>
