<div class="wrapper">
    <div class="row">
        <div class="col-12 bg-white p-3">
            <div class="wrapper__logo">
                <embed src="assets/images/logo.svg" alt="Kazar logo" >
            </div>
            <div class="wrapper__content">
                <h2>Hello Philip,</h2>
                <p>
                    A suspicious activity has been detected on you account and it was 
                    accessed on 23-12-2023, 12:05 AM. If you are unaware of this activity, 
                    kindly contact support immediately or use the button below to reset your 
                    password. 
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-green btn-lg" routerLink="/authentication/forgot-password">
                        Reset Password
                    </button>
                </div>
            </div>
            <div class="wrapper__footer">
                <h3>Follow Us</h3>
                <div class="media">
                    <embed src="assets/icons/fb.svg" alt="facebook">
                    <embed src="assets/icons/instagram.svg" alt="instagram">
                    <embed src="assets/icons/youtube.svg" alt="youtube">
                    <embed src="assets/icons/whatsapp.svg" alt="whatsapp">
                </div>
            </div>
        </div>
    </div>
</div>