<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title> </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/close.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography text-center">
    <h1 class="modal-title">Wrong Password</h1>
    <p>
        You have 2 attempts left. Your account would be blocked for 24 hours 
        if you make 3 wrong attempts. 
    </p>
    <div class="btn_wrapper d-flex justify-content-between">
        <button 
            mat-button
            [mat-dialog-close]="true"
            cdkFocusInitial
            class="btn btn-light btn-lg" 
            routerLink="/authentication/forgot-password"
        >
            Reset Password
        </button>
        <button 
            #close
            mat-button 
            mat-dialog-close
            class="btn btn-green btn-lg"
        >
            Try Again
        </button>
    </div>
  </mat-dialog-content>
  