@import 'partials/abstract/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.mat-typography {
    font-family: 'Poppins', sans-serif;
    .modal-title {
        font-size: 1.6rem;
        font-weight: 900;
        color: $primary-color;
    }
    p {
        font-size: 1.4rem;
        line-height: 150%;
        color: $grey-200;
    }
    .btn_wrapper {
        margin-top: 5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        .btn {
            width: 100%;
            &-light {
                border: .1rem solid rgba($grey-color, 0.2);
                color: $grey-200;
            }
        }
    }
}