<div class="ppty__wrapper">
    <div class="container">
        <div class="ppty__wrapper-filter">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form_group mb-4">
                      <div class="search-filter-input">
                        <input type="text" class="form-control" placeholder="Enter address, neighbourhood, city or zipcode">
                        <span class="_icon">
                          <i class="fab fa-plus"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form_group mb-4">
                      <div class="search-filter-input">
                        <input type="text" class="form-control" placeholder="Enter address, neighbourhood, city or zipcode">
                        <span class="_icon">
                          <i class="fab fa-plus"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form_group mb-4">
                      <div class="search-filter-input">
                        <input type="text" class="form-control" placeholder="Enter address, neighbourhood, city or zipcode">
                        <span class="_icon">
                          <i class="fab fa-plus"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form_group mb-4">
                      <div class="search-filter-input">
                        <input type="text" class="form-control" placeholder="Enter address, neighbourhood, city or zipcode">
                        <span class="_icon">
                          <i class="fab fa-plus"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form_group mb-4">
                      <div class="search-filter-input">
                        <input type="text" class="form-control" placeholder="Enter address, neighbourhood, city or zipcode">
                        <span class="_icon">
                          <i class="fab fa-plus"></i>
                        </span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>